.container {
    background: linear-gradient(to right, rgba(0,72,158,255), rgba(3,132,193,255), rgba(3,146,202,255), rgba(3,174,218,255));
}

.root {
    padding-left: 25em;
}

.align-container {
    background-color: red;
    display: flex;
    padding-left: 25em;
    padding-top: 25em;
    justify-content: space-between;
    position: relative;
}

.degree {
   padding-right: 50em;
}

.degreeTitle {
    font-size: 5em;
    font-weight: 500;
    color: #fff;
}

.title {
    color: #fff;
    font-size: 4em;
}

.subTitle {
    color: #fff;
}