<body class="container" *ngIf="weatherData">
    <div class="search">
        <form #form="ngForm" (submit)="onSubmit()">
            <input type="text" class="example-form-field" placeholder="Digite uma cidade" name="city" [(ngModel)]="cityName">
        </form>
    </div>
    <div>
        <div class="subContainer">
            <div>
                <div class="titleContainer">
                    <h1 class="title">{{ weatherData.name }}</h1>
                </div>
                <div class="degreeContainer">
                    <h1 class="degree">{{ (weatherData.main.temp).toFixed(0) }}ºC</h1>
                </div>
                <div class="subtitleContainer">
                    <div>
                        <h3 class="subTitle">Umidade: {{weatherData.main.humidity}}%</h3>
                    </div>
                    <div>
                        <h3 class="subTitle">Vento: {{weatherData.wind.speed | velocity}} km/h</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonContainer">
            <div>
                <button 
                mat-stroked-button class="buttonCity"
                (click)="getCity('Recife')"
                >Recife</button>
            </div>
            <div>
                <button 
                mat-stroked-button class="buttonCity"
                (click)="getCity('Fortaleza')"
                >Fortaleza</button>
            </div>
            <div>
                <button mat-stroked-button 
                class="buttonCity"
                (click)="getCity('Maceió')"
                >Maceió</button>
            </div>
            <div>
                <button 
                mat-stroked-button 
                class="buttonCity"
                (click)="getCity('Sergipe')"
                >Sergipe</button>
            </div>
            <div>
                <button 
                mat-stroked-button 
                class="buttonCity"
                (click)="getCity('João Pessoa')"
                >João Pessoa</button>
            </div>
        </div>
    </div>
    <div class="table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Cidade</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="temperatura">
              <th mat-header-cell *matHeaderCellDef>Temperatura</th>
              <td mat-cell *matCellDef="let element">{{ (element.main.temp).toFixed(0) }}ºC</td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="chuva">
              <th mat-header-cell *matHeaderCellDef>Temperatura máxima</th>
              <td mat-cell *matCellDef="let element">{{ (element.main.temp_max).toFixed(0) }}ºC</td>
            </ng-container>

            <ng-container matColumnDef="umidade">
                <th mat-header-cell *matHeaderCellDef>Umidade</th>
                <td mat-cell *matCellDef="let element">{{element.main.humidity}}%</td>
            </ng-container>

            <ng-container matColumnDef="vento">
                <th mat-header-cell *matHeaderCellDef>Vento</th>
                <td mat-cell *matCellDef="let element">{{element.wind.speed | velocity}} km/h</td>
            </ng-container>

            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef>Ação</th>
                <td mat-cell *matCellDef="let element">
                    <button 
                    mat-stroked-button 
                    class="buttonCity"
                    (click)="removeData()"
                    >Excluir</button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</body>


