<body class="container">
    <div class="root">
        <h4>South America > Brasil > Pernambuco > Recife</h4>
    </div>
    <div class="align-container">
        <div class="subContainer">
            <div>
                <h1 class="title">Recife</h1>
            </div>
            <div>
                <h3 class="subTitle">3:48 PM / WEDNESDAY, JULY 1</h3>
            </div>
        </div>
        <div class="degree">
            <h1 class="degreeTitle">24º</h1>
        </div>
    </div>
</body>
