.container {
    background: linear-gradient(to right, rgba(0,72,158,255), rgba(3,132,193,255), rgba(3,146,202,255), rgba(3,174,218,255));
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 15em;
    padding-bottom: 2em;
}

.form-field {
    width: 200px;
}

.subContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
}

.degreeContainer {
    display: flex;
    justify-content: center;
}

.degree {
    color: #fff;
    font-size: 10em;
    padding-top: 60px;
    padding-bottom: 50px;
}

.subtitleContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    color: #fff;
    font-size: 2em;
}

.subTitle {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttonCity {
    margin: 15px;
    background-color: #DCDCDC;
}

.table {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.demo-table {
   width: 50%;
}

.thData {
    justify-content: center;
}
